<div><H1> <%=@post.title %> </H1></div>
<div><h2>Author: <a href='/profile/<%= @user.id %>'> <%=@user.username %> </h2></a></div>
<div><h2> Category: <%=@post.catagory %> </h2></div>
<div><h3>  <%=@post.content %> </h3></div>