<h1>Welcome to <%=@user.username %>'s Page</h1>

<h2> Info: </h2>
<div><h3>Country: <%=@user.country%></h3></div>
<div><h3>Passion: <%=@user.passion%></h3></div>

<h2> Blogs: </h2>

<% @post.each do |a|%>
<div><h4> <a href='/post/<%= a.id %>'> <%= a.title %> </h4></div></a>
<% end %>
