<li><a href="/users/<%= @user.id%>/edit">Edit User Info</a></li>

<h1>Hi there <%= @user.username %></h1>

<h2>The user Id <%= @user.id%></h2>

<h3>All of your post</h3>

<%@post.each do |a|%>
<div><%= a.title %></div>
<div><%= a.catagory %></div>
<div><%= a.content %></div>
<% end %>