
<li><a href="/users/<%= @user.id%>/edit">Edit User Info</a></li>
<a href="/users/:id/logout"> Logout</a>


<div class = Jgreeting>
<h1>Hello <%= @user.username %>.</h1>
</div>

<div class = Jinfo>
<h2> Your Info: </h2>
<div><strong>Country: </strong><%=@user.country%></div>
<div><strong>Passion: </strong> <%=@user.passion%></div>
</div>

<div class = JuserPosts>
<h2>Post History:</h2>

<%@post.reverse.each do |a|%>
<div><h4> <a href='/post/edit/<%= a.id %>'> <%= a.title %> </h4></div></a>
<% end %>
</div>

</div>


<div class = Jcreate>
<h1> Create a New Post </h1>
<form method="POST" action="/new_post">
	<div>Title:</div> <input type="text" name="title" placeholder="Title"><br>
	<div>Category:</div> <input type="text" name="category" placeholder=Category><br>
	<div>Content:</div> <input class=Jcontent type="text" name="content" placeholder="Write Your Post Here" maxlength="150"><br>
	<input type="submit" name="" value="Create Me">
</form>
</div>


