<li><a href="/users/<%= @user.id%>/edit">Edit User Info</a></li>

<h1>Hi there <%= @user.username %></h1>
<a href="/users/:id/logout"> Logout</a>
<h1>Hello, <%= @user.username %></h1>

<h2> Your Info </h2>
<div><h3>Country:</h3><%=@user.country%></div>
<div><h3>Passion:</h3> <%=@user.passion%></div>

<h1> Create a New Post </h1>
<form method="POST" action="/new_post">
	<div>Title:</div> <input type="text" name="title" placeholder="Title"><br>
	<div>Category:</div> <input type="text" name="category" placeholder=Category><br>
	<div>Content:</div> <input type="text" name="content" placeholder="Write Your Post Here" maxlength="150"><br>
	<input type="submit" name="" value="Create Me">
</form>




<h3>All of your Posts</h3>

<%@post.reverse.each do |a|%>
<div><h4> <a href='/post/edit/<%= a.id %>'> <%= a.title %> </h4></div></a>
<% end %>

